[user]
	name = sescobb27
	email = s.escob.b.27@gmail.com

[color]
	ui = true

[credential "https://github.com"]
	username = sescobb27
	helper = cache --timeout=43200

[merge]
	tool = meld
	# Include summaries of merged commits in newly created merge commit messages
	log = true
	stat = true

[push]
	default = tracking

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[credential]
	helper = store

[hub]
	protocol = https

[alias]
	a = add
	cam = commit --amend
	cbr = checkout -b
	cl = clone
	cm = commit -m
	di = diff
	dis = diff --stage
	list-branch = branch -r
	p = pull --rebase
	pm = push origin master
	po = push origin
	pr = push --recurse-submodules=check
	s = status
	undo = reset --soft HEAD^
	llog = log --date=local

[core]
	editor = "subl -w"
[advice]
	pushNonFastForward = false
